<<<<<<< HEAD
body{
    background-color: rgb(140, 158, 158);
}
header{
    font-size: 1223px;
=======
body{
    background-color: rgb(149, 72, 72);
    
}
header{
    font-size: 100px;
    text-align: center;
    color: bisque;
    border-bottom: 10px solid black;
}
#pp{
    color: blueviolet;
    text-align: center;
}
>>>>>>> d8e438c180e05f1b4c3c022a766171943192495e

}